<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= deck.name %> StudySet</title>
    <link rel="stylesheet" href="/stylesheets/deckShow.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="main">
        <div class="buttons">
            <a href="/decks"><button class="button">Back to my StudySets</button></a>
            <div class="delete-container">
                <% if (String(user._id) === String(deck.owner._id)) { %>
                <form method="POST" action="/decks/<%= deck._id %>?_method=DELETE">
                    <input class="button" type="submit" value="Delete this StudySet"></form>
                <% } %>
            </div>
        </div>
        <div class="deck">
            <h1 class="deck-title"><%= deck.name %> StudySet
            </h1>
            <% if (String(user._id) === String(deck.owner._id)) { %>
            <form class="new-title" method="POST" action="/decks/<%= deck._id %>?_method=PUT">
                <input type="text" name="name" id="change-title" maxlength="40" placeholder="New StudySet Title">
                <input class="button" type="submit" value="Change Title">
            </form>
        </div>
        <form action="/decks/<%= deck._id %>/cards" method="POST">
            <div class="new-card">
                <textarea class="card-input" type="text" name="front" placeholder="front of card"
                    style="width:300px; height:150px" maxlength="130"></textarea>
                <textarea class="card-input" type="text" name="back" placeholder="back of card"
                    style="width:300px; height:150px" maxlength="130"></textarea>
            </div>
            <div class="new-flashcard">
                <input class="button" type="submit" value="Add FlashCard"></input><br><br>
            </div>
        </form>
        <% } %>
        <div class="card-body">
            <% cards.forEach((c, i) => { %>
            <div  class="card display">
                <span class="front"><%= c.front %></span><br>
                <span class="back hidden"><%= c.back %></span>
                <% if (String(user._id) === String(c.owner._id)) { %>
                <form method="POST" action="/cards/<%= c._id %>?_method=DELETE">
                    <input class="delete-cards" type="submit" value=" X "></form>
                <% } %>
            </div>
            <% }); %>
        </div>
        <div class="empty"></div>
    </div>


    <script>
        // event listeners go here
        let cardList = document.querySelectorAll('.card');

        cardList.forEach((e) => {
            e.addEventListener('click', flip)
        });

        function flip(evt) {
            if (!evt.target.classList.contains("card")) {
                return;
            }

            console.log(evt.target.childNodes[1])

            if (evt.target.childNodes[1].classList.contains('hidden')) {
                evt.target.childNodes[1].classList.remove('hidden')
                evt.target.childNodes[4].classList.add('hidden')
            } else {
                evt.target.childNodes[4].classList.remove('hidden')
                evt.target.childNodes[1].classList.add('hidden')
            }
            console.log(cardList);
        }
    </script>
</body>


</html>